<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />

    <!-- Website tab title & icon image -->
    <title>@ViewData["Title"]</title>
    <link rel="icon" href="img/codingIcon.png" />

    <!-- Connect to bootstrap libraries -->
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
</head>

<body>

    <nav>
        <a asp-controller="Views_Sub" asp-action="Index">Home</a>
        <a asp-controller="Views_Sub" asp-action="GradeCalculator">Grade Calculator</a>
    </nav>

    <div>
        @RenderBody()
    </div>

    <!-- Include JS files -->
    <script src="~/lib/jquery/jquery-3.6.3.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/js/gradeCalculator.js"></script>

</body>

</html>
